<!DOCTYPE html>
<html>
    <head>
        <title>Picture-Sharing</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Damion|Rock+Salt" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <script src="https://use.fontawesome.com/a6a7865164.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><i class="fa fa-globe" aria-hidden="true"></i> iPicture</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <% if (currentUser) { %>
                                <li><a href="#">Signed In As <strong><%=currentUser.username%></strong></a></li>
                                <li><a href="/logout">Logout</a></li>
                            <% } else { %>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">sign up</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
        
                        
