.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

.beautyword {
    font-family: 'Damion', cursive;
}

.beautytitle {
    font-family: 'Rock Salt', cursive;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}
